body{
    margin:0;
    padding: 0;
}
.header{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
h1{
    color: rgb(24, 22, 22);
    margin-bottom: 20px;
    font-size: 45px;
    letter-spacing: 1.5px;
    text-align: center;
}

.search{
    height: 25px;
    width: 450px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background: black;
    border: none;
    color: rgb(184, 178, 178);
    border-radius: 25px;
}
